
/* Style for container */
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.container2{
    display: block;
    margin-left: 200px;
    margin-top: 0px;
    margin-right: 0px;
}

/* Style for answer buttons */
#answerButton{
    margin-left: 10px;
    margin-right: 10px;
}

.formDiv{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;

}

#questionsDiv{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
}

#start-quiz{
    margin-top: 30px;
}

#right-wrong{
    float: right;
}

